.image{

    img{
        width: 240px;
        height: 320px;
     border-radius: 0 0 100vw 100vw;
    object-fit: cover;
    // filter: grayscale(1);
    }
}
#scrollText{
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}